/* import import 'bootstrap/dist/css/bootstrap.min.css'; */
@import '~bootstrap/scss/bootstrap.scss';

.btn-outline-secondary {
    color: #d7a28f;
    border-color: #d7a28f;

}

pre {
    font-size: inherit;
    color: inherit;
    border: initial;
    padding: initial;
    font-family: inherit;
    text-wrap: balance;
}

a {
    color: #d7a28f
}

a:hover {
    color: black
}

@media (min-width: 768px) {
    a.nav-link {
        padding-left: 0 !important;
        padding-right: 15px !important;
    }
}

.form-control{
    font-size: 0.9rem
}

.modal-content {
    background-color: rgb(185, 110, 110);
}

button, input {
    outline: none !important;
    box-shadow: none !important;
}

button:focus, input:focus, .form-control:focus {
    border-color: inherit !important;
}

.switch-input {
    outline: none !important;
    box-shadow: none !important;
}

button.navbar-toggler {
    margin-left: auto;
}

.toast {
    bottom: 2%;
    right: 2%;
    width: 300px;
    z-index: 9999;
    position: fixed;
}

.text-small {
    font-size: 0.8rem
}

.accordion-item {
    margin-bottom: 1rem;
    border-radius: .25rem;
    border: 1px solid var(--bs-secondary-color) !important;
}

.accordion-button {
    border: none !important;
    color: var(--bs-secondary-color) !important;
    box-shadow: none !important;
    background-color: inherit !important;
    font-size: 1.05rem;
    font-weight: bolder;
}

.accordion-button:focus, button.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.accordion-button::after {
    content: none !important;
}

.form-check-input.question-option:checked {
    background-color: green;
    border-color: green;
}

.chart {
    max-height: 500px;
    margin: auto;
    text-align: center;
}

.question-card {
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    width: 100%;
    height: 100%;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    text-wrap: balance;
    border-color: whitesmoke;
}

@media (min-width: 600px) {
    .question-card {
      min-height: 400px;
    }
}


.question-card.flipped {
    transform: rotateY(180deg);
}

// .question-card .card-front,
// .question-card .card-back {
//     position: absolute;
//     top: 0;
//     left: 0;
// }

@media (min-width: 600px) {
    .question-card .card-front {
      width: 100%;
    }
}

.question-card .card-front {
    transform: rotateY(0deg);
}

.question-card .card-back {
    transform: rotateY(180deg);
}

.show-answer-correctAnswer {
    width: 75vw;
    margin: auto;
}

@media (min-width: 1200px) {
    .show-answer-correctAnswer {
       width: 800px
    }
}

.hidden {
    backface-visibility: hidden;
    visibility: hidden;
    display: none;
}

.add-existing-category {
    cursor: pointer;
}

.question-explanation {
    padding-left: 9vw;
}

@media (min-width: 900px) {
    .question-explanation {
        padding-left: 1vw;
    }
}