a {
    color: rgb(63, 63, 63)
}

a:hover {
    color: black
}

@media (min-width: 768px) {
    a.nav-link {
        padding-left: 0 !important;
        padding-right: 15px !important;
    }
}

.form-control{
    font-size: 0.9rem
}

.modal-content {
    background-color: whitesmoke;
}

button, input {
    outline: none !important;
    box-shadow: none !important;
}

button:focus, input:focus, .form-control:focus {
    border-color: inherit !important;
}

.switch-input {
    outline: none !important;
    box-shadow: none !important;
}

button.navbar-toggler {
    margin-left: auto;
}

.toast {
    bottom: 2%;
    right: 2%;
    width: 300px;
    z-index: 9999;
    position: fixed;
}

.text-small {
    font-size: 0.8rem
}

.accordion-item {
    margin-bottom: 1rem;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125) !important;
}

.accordion-button {
    border: none !important;
    color: black !important;
    box-shadow: none !important;
    background-color: inherit !important;   
    font-size: 1.05rem;
    font-weight: bolder;
}

.accordion-button:focus, button.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.accordion-button::after {
    content: none !important;
}

.form-check-input.question-option:checked {
    background-color: green;
    border-color: green;
}

.chart {
    max-height: 500px;
    margin: auto;
    text-align: center;
}

.question-card {
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    width: 100%;
    height: 90vh;
    overflow: auto;
}

@media (min-width: 600px) {
    .question-card {
      height: 400px;
    }
}

  
.question-card.flipped {
    transform: rotateY(180deg);
}

.question-card .card-front,
.question-card .card-back {    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.question-card .card-front {
    transform: rotateY(0deg);
}

.question-card .card-back {
    transform: rotateY(180deg);
}

.hidden {
    backface-visibility: hidden;
    visibility: hidden;
}