/* import import 'bootstrap/dist/css/bootstrap.min.css'; */
@import '~bootstrap/scss/bootstrap.scss';

.btn-outline-secondary {
    color: #d7a28f;
    border-color: #d7a28f;

}

pre {
    font-size: inherit;
    color: inherit;
    border: initial;
    padding: initial;
    font-family: inherit;
    text-wrap: balance;
    white-space: normal;
    word-wrap:break-word;
    white-space:pre-wrap;
    overflow-wrap: initial;
    width: 100%;
}

a {
    color: #d7a28f
}

a:hover {
    color: black
}

a.no-underline {
    text-decoration: none;
}

@media (min-width: 768px) {
    a.nav-link {
        padding-left: 0 !important;
        padding-right: 15px !important;
    }
}

@media (min-width: 768px) {
    .navbar-back-link {
        display: none;
    }
}

.form-control{
    font-size: 0.9rem
}

.modal-content {
    background-color: rgb(185, 110, 110);
}

button, input {
    outline: none !important;
    box-shadow: none !important;
}

button:focus, input:focus, .form-control:focus {
    border-color: inherit !important;
}

.switch-input {
    outline: none !important;
    box-shadow: none !important;
}

button.navbar-toggler {
    margin-left: auto;
}

.toast {
    bottom: 2%;
    right: 2%;
    width: 300px;
    z-index: 9999;
    position: fixed;
}

.text-small {
    font-size: 0.8rem
}

.accordion-item {
    margin-bottom: 1rem;
    border-radius: .25rem;
    border: 1px solid var(--bs-secondary-color) !important;
}

.accordion-button {
    border: none !important;
    color: var(--bs-secondary-color) !important;
    box-shadow: none !important;
    background-color: inherit !important;
    font-size: 1.05rem;
    font-weight: bolder;
}

.accordion-button:focus, button.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.accordion-button::after {
    content: none !important;
}

.form-check-input.question-option:checked {
    background-color: green;
    border-color: green;
}

.chart {
    max-height: 500px;
    margin: auto;
    text-align: center;
}

@media (min-width: 600px) {
    h5.card-title {
        max-width: 600px;
        text-align: center;
        margin: auto;
    }
}

.card-back {
    h5.card-title {
        max-width: unset;
        text-align: left !important;
        margin-left: 0 !important;
        padding-bottom: 1rem;
    }
}

.question-card {
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    width: 100%;
    height: 100%;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    text-wrap: balance;
}

@media (min-width: 600px) {
    .question-card {
      min-height: 400px;
    }
}

.question-card.flipped {
    transform: rotateY(180deg);
}

@media (min-width: 600px) {
    .question-card .card-front {
      width: 100%;
    }
}

.question-card .card-front {
    transform: rotateY(0deg);
}

.question-card .card-back {
    transform: rotateY(180deg);
}

.show-answer-correctAnswer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (min-width: 900px) {
    .question-explanation {
        padding-left: 1vw;
    }
}

.hidden {
    backface-visibility: hidden;
    visibility: hidden;
    display: none;
}

.add-existing-category {
    cursor: pointer;
}
